<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paiement Réussi</title>

    <link rel="stylesheet" href="./success.css">
</head>
<body>


    <div class="fade-in">
<!-- Conteneur de l'image pleine écran -->
<div class="fullscreen-image">
  <div class="content">
    <h1>Paiement Réussi</h1>
    <p>Merci pour votre commande!</p>
    <a href="/accueil?userId=<%= user.id %>">Retour à la page d'accueil</a> 
    
 
</div>
</div>
</div>
 
</body>
</html>
